@model List<MVCproject.Models.Worker>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Hired on</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Contact number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in @Model)
            {
                <tr>
                    <td>
                        @worker.hiredOn
                    </td>
                    <td>
                        @worker.name
                    </td>
                    <td>
                        @worker.surname
                    </td>
                    <td>
                        @worker.age
                    </td>
                    <td>
                        @worker.contactNumber
                    </td>
                    <td>
                        @worker.email
                    </td>
                    <td>
                        <a class="btn btn-danger" button asp-action="Delete" asp-route-id=@worker.id>
                            Delete
                        </a>
                        <a class="btn btn-success" button asp-action="Edit" asp-route-id=@worker.id>
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" button asp-action="Add">
        Add
    </a>
</div>
