@model Employee

<main class="main">
    <section class="section__detail">
        <div class="container__overview">
            <image class="overview__image" src="/img/emp.png" />
            <p class="paragraph__overview">@Model.Name @Model.Surname</p>
        </div>
        <div class="container__info">
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Date of birth: </strong> @Model.DateOfBirth
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Date of hire: </strong> @Model.HiredOn
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Email address: </strong> @Model.Email
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Contact numer: </strong> @Model.ContactNumber
            </p>
@*            @*<p class="paragraph__detail">
                <strong class="paragraph__strong">City: </strong> @Model.Address.City
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Street: </strong> @Model.Address.Street
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Role: </strong> @Model.Info.Role
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Level: </strong> @Model.Info.Level
            </p>*@
        </div>
    </section>
</main>
