@model IEnumerable<Employee>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">@item.HiredOn</p>
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Surname</p>
                            <p class="card-text">@item.DateOfBirth</p>
                            <p class="card-text">@item.ContactNumber</p>
                            <p class="card-text">@item.Email</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>