@model Product

<main class="main">
    <section class="section__detail">
        <div class="container__overview">
            <image class="product-overview__image" src=@Model.Image />
            <p class="paragraph__overview">@Model.Name</p>
            <p class="paragraph__overview">@Model.Category</p>
        </div>
        <div class="container__info">
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Description: </strong> @Model.Description
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Price: </strong> @Model.Price zł
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">Volume: </strong> @Model.Volume ml
            </p>
            <p class="paragraph__detail">
                <strong class="paragraph__strong">AlcVolume: </strong> @Model.AlcVolume %
            </p>
        </div>
    </section>
</main>
