@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Product>

<main class="main">
    <section class="section__buttons">
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-controller="Product" asp-action="Create"
           type="button" class="button__emp">Add Product</a>
        }

        <form asp-controller="Product" asp-action="Search" method="get">
            <div class="container">
                <div class="form__tile">
                    <label for="Name" class="form__label">Name</label>
                    <input id="Name" type="text" class="form__input" name="Name" />
                </div>
                <button type="submit" class="form__sumbit">Search</button>
            </div>
        </form>
        
        <form asp-controller="Product" asp-action="OrderByName" method="get">
            <button type="submit" class="form__sumbit__emp">Order by name</button>
        </form>

        <form asp-controller="Product" asp-action="OrderByCategory" method="get">
            <button type="submit" class="form__sumbit__emp">Order by Category</button>
        </form>
    </section>
    <section class="section__employees">
        @foreach (var item in Model)
        {
            <div class="container__product">
                <img class="product__image" src=@item.Image />
                <p class="product__paragraph">@item.Name</p>
                <p class="product__paragraph product__paragraph--small">@item.Category</p>

                <div class="container__buttons">
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"
                type="button" class="container__button container__button--first">View</a>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"
                class="container__button">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"
                class="container__button container__button--second">Delete</a>
            }
            </div>

            </div>
        }
    </section>
</main>